* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    background-color: #C2C2C2;
    /* background-color: #DADADA; */
    overflow: hidden;
}

main {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: #FFFFFF;
    height: 100vh;
    width: 700px;
    margin: 0px auto;
}

header, footer {
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.mainheader, footer {
    flex-basis: 24px;
    /* flex-basis: 48px; */
    flex-shrink: 0;
    font-size: 0.7em;
    background-color: #C2C2C2;
}

.mainheader {
    /* background-color: red; */
    justify-content: flex-end;
    width: 100%;
    /* padding-right: 16px; */
    padding-right: 2px;
    margin: 0px auto;
}

.subheader {
    position: relative;
    /* position: fixed; */
    /* position: static; */
    /* flex-shrink: 0; */
    /* flex-basis: 32px; */
    justify-content: center;
    height: 32px;
    padding: 4px 16px;
    border-bottom: 1px solid #000000;
}

.groups {
    background-color: #F6F6F6;
}

.mainheader span {
    margin-left: 6px;
    margin-right: 6px;
}

.mainheader button {
    color: #0040DD;
    background-color: #C2C2C2;
    border: none;
    margin: 0px;
}

.sections {
    position: relative;
    display: flex;
    align-items: stretch;
    height: 100%;
    overflow: auto;
    /* overflow: hidden; */
    /* border: 1px solid #000000; */
    /* border: 1px solid #393939; */
    /* border: 1px solid #434343; */
    /* border: 1px solid #606060; */
    border: 1px solid #6A6A6A;
    /* border: 1px solid #747474; */
}

section {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    /* background-color: yellow; */
    flex-grow: 10;
    /* flex-grow: 5; */
    width: 350px;
    /* overflow: auto; */
    /* border-right: 1px solid #000000; */
    /* border: 1px solid #000000; */
    z-index: 1;
}

footer {
    /* justify-content: center; */
    justify-content: center;
    color: #616161;
    background-color: #C2C2C2;
    text-align: center;
}

.content {
    /* background-color: red; */
    /* height: 100%; */
    flex-grow: 10;
    /* height: 700px; */
    /* height: 800px; */
    height: 835px;
    /* height: 100%; */
    overflow: auto;
    flex-grow: 10;
    padding: 8px 16px;
}

#contact_content {
    height: 870px;
    padding: 0px 16px;
}

nav {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    top: 9px;
    left: 0px;
    width: 100%;
}

nav button {
    color: #0040DD;
    background-color: #FFFFFF;
    border: none;
    margin: 0px 16px;
}

h1 {
    /* background-color: red; */
    color: #CCCCCC;
    font-size: 2.4em;
    text-align: center;
    font-weight: bold;
    width: 80%;
    padding: 4px 8px;
    margin: 0px auto;
}

button, .hover {
    cursor: pointer;
    margin-bottom: 4px;
}

a:link, a:visited, a:active {
    color: #000000;
    text-decoration: none;
}
  
a:hover {
    color: #0040DD;
    text-decoration: underline;
}

input {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    margin-right: 16px;
}

select {
    outline: none;
}

form select {
    color: #646464;
    width: 80px;
}

div.textarea {
    box-sizing: border-box;
    width: 100%;
    padding-right: 16px;
    margin-top: 8px;
    margin-bottom: 8px;
}

textarea {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    width: 100%;
    padding: 4px 8px;
}

ul {
	list-style-type: disc;
	margin-left: 24px;
}

li {
	margin-top: 8px;
	margin-bottom: 8px;
}

.del_btn {
    color: #646464;
    border: 1px solid #646464;
    border-radius: 4px;
    padding: 1px 4px;
    margin-right: 16px;
}

/* .city {
    width: 100px;
}

.state {
    width: 30px;
}

.zip {
    width: 60px;
} */

.state, .zip {
    width: 72px;
}

.cont_sect, .cont_sect_edit {
    color: #646464;
    font-size: 0.8em;
    margin-top: 12px;
    margin-bottom: -6px;
    /* margin-left: 0.6em; */
}

.cont_sect {
    padding-left: 62px;
}

.cont_sect_edit {
    padding-left: 90px;
}

.type, .type_edit {
    color: #646464;
    font-size: 0.8em;
    text-align: right;
}

.type {
    color: #646464;
    font-size: 0.8em;
    text-align: right;
    width: 50px;
}

.type_edit {
    width: 80px;
}

.data {
    flex-grow: 4;
}

div.cont_details {
    display: flex;
    gap: 0.6em;
    margin-top: 8px;
    margin-bottom: 8px;
}

.note {
    padding-right: 16px;
    margin-top: 6px;
}

div.login_view {
    box-sizing: border-box;
    /* background-color: blue; */
    width: 300px;
    padding: 36px 16px;
    margin: 36px auto 0px;
}

p.login {
    color: #D6D6D6;
}

p.login a:link, p.login a:visited, p.login a:active {
    color: #D6D6D6;
    text-decoration: none;
}
  
p.login a:hover {
    color: #E9E9E9;
    text-decoration: underline;
    cursor: pointer;
}

aside {
    box-sizing: border-box;
    /* color: #FFFFFF; */
    color: #E9E9E9;
    background-color: #252525;
    font-size: 0.8em;
    height: 56px;
    width: 80%;
    border: 1px solid red;
    padding: 8px 16px;
    margin: 32px auto;
    visibility: hidden;
}

form {
    /* background-color: blue; */
    gap: 16px;
    box-sizing: border-box;
    width: 80%;
    margin: 0px auto;
}

input {
    padding: 2px 4px;
    margin-bottom: 4px;
}

form input {
    box-sizing: border-box;
    width: 100%;
    margin-top: 8px;
    margin-bottom: 8px;
}

div.login_view input {
    /* color: #FFFFFF; */
    color: #E9E9E9;
    background-color: #252525;
    border: 1px solid #4C4C4C;
    padding: 4px 8px;
}

div.login_view input::placeholder {
    color: #B8B8B8;
}

form div {
    font-size: 0.7em;
    text-align: center;
}

form button {
    color: #000000;
    background-color: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 6px;
    padding: 4px 8px;
    margin: 8px;
}

div.login_view button {
    /* color: #FFFFFF; */
    color: #E9E9E9;
    background-color: #252525;
    border: 1px solid #4C4C4C;
    padding: 8px 16px;
}

form p {
    margin-top: 4px;
}

input[name="name"] {
    visibility: hidden;
}

input[name="passwd2"] {
    display: none;
}

#new_group_view {
    position: absolute;
    /* display: flex;
    align-items: center;
    align-content: center; */
    box-sizing: border-box;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    /* background-color: #000000; */
    background-color: #565656;
    padding-bottom: 25vh;
    z-index: 50;
    overflow: hidden;
    /* opacity: 0.6; */
}

.new_group {
    /* opacity: 1.0; */
    box-sizing: border-box;
    width: 300px;
    background-color: #FFFFFF;
    border: 1px solid #000000;
    padding: 36px;
    margin: 36px auto 0px;
}

#login_view {
    width: 750px;
    /* background-color: #252525; */
    background-image: url("background.png");
    background-repeat: repeat;
}

#contacts_view {
    border-right: 1px solid #000000;
}

/* #login_view {
    display: none;
} */

#contacts_view, #contact_view {
    display: none;
}

@media (max-width: 750px) {
    main, #login_view, #contacts_view, #contact_view {
        width: 350px;
    }
    #contacts_view {
        border-right: none;
    }
    #contact_view {
        display: none;
    }
}