* {
    margin: 0px;
    padding: 0px;
}

body {
    box-sizing: border-box;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    background-color: #C2C2C2;
    /* background-color: #DADADA; */
    height: 100vh;
    padding-bottom: 52px;
}

.top_header, footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 0.7em;
    height: 24px;
    width: 300px;
    margin: 0px auto;
}

.top_header {
    text-align: right;
}

.top_header span {
    margin-left: 6px;
    margin-right: 6px;
}

.top_header button {
    color: #0040DD;
    background-color: #C2C2C2;
    border: none;
    /* margin: 0px 8px; */
}

main {
    position: relative;
    background-color: #F3F3F3;
    height: 100%;
    width: 300px;
    padding-right: 16px;
    margin: 0px auto;
}

footer {
    text-align: center;
    color: #616161;
}

/* div.header_footer {

} */

section {
    position: absolute;
    height: 100%;
    width: 100%;
    /* padding-right: 16px; */
}

#login_view {
    box-sizing: border-box;
    background-color: #F3F3F3;
    /* background-color: red; */
    padding: 36px 16px;
    z-index: 10;
}

#login_view h1 {
    /* background-color: red; */
    font-size: 2.4em;
    text-align: center;
    font-weight: bold;
    width: 80%;
    padding: 4px 8px;
    margin: 0px auto;
}

#contacts_view {
    /* background-color: red; */
    box-sizing: border-box;
    padding: 0px;
    z-index: 1;
}

.subheader {
    position: relative;
    width: 100%;
    border-bottom: 1px solid black;
}

#title {
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
}

nav {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 7px;
    left: 0px;
    width: 100%;
    font-size: 0.8em;
}

nav button {
    color: #0040DD;
    /* background-color: none; */
    background-color: #F3F3F3;
    border: none;
    margin: 0px 8px;
}

button, .hover {
    cursor: pointer;
    margin-bottom: 4px;
}

a:link, a:visited, a:active {
    color: #000000;
    text-decoration: none;
}
  
a:hover {
    color: #0040DD;
    text-decoration: underline;
}

input {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    margin-right: 16px;
}

select {
    color: #646464;
    width: 80px;
}

div.textarea {
    box-sizing: border-box;
    width: 100%;
    padding-right: 16px;
    margin-top: 8px;
    margin-bottom: 8px;
}

textarea {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    width: 100%;
    padding: 4px 8px;
}

ul {
	list-style-type: disc;
	margin-left: 24px;
}

li {
	margin-top: 8px;
	margin-bottom: 8px;
}

.del_btn {
    color: #646464;
    border: 1px solid #646464;
    border-radius: 4px;
    padding: 1px 4px;
    margin-left: 16px;
}

.content {
    box-sizing: border-box;
    /* background-color: blue; */
    position: absolute;
    overflow: auto;
    top: 30px;
    bottom: 0px;
    width: 300px;
    margin-left: 16px;
}

/* .city {
    width: 100px;
}

.state {
    width: 30px;
}

.zip {
    width: 60px;
} */

.state, .zip {
    width: 72px;
}

.cont_sect, .cont_sect_edit {
    color: #646464;
    font-size: 0.8em;
    margin-top: 12px;
    margin-bottom: -6px;
    /* margin-left: 0.6em; */
}

.cont_sect {
    padding-left: 62px;
}

.cont_sect_edit {
    padding-left: 90px;
}

.type, .type_edit {
    color: #646464;
    font-size: 0.8em;
    text-align: right;
}

.type {
    color: #646464;
    font-size: 0.8em;
    text-align: right;
    width: 50px;
}

.type_edit {
    width: 80px;
}

.data {
    flex-grow: 4;
}

div.cont_details {
    display: flex;
    gap: 0.6em;
    margin-top: 8px;
    margin-bottom: 8px;
}

.note {
    padding-right: 16px;
    margin-top: 6px;
}

aside {
    /* background-color: red; */
    box-sizing: border-box;
    color: red;
    font-size: 0.8em;
    height: 50px;
    width: 80%;
    border: 1px solid red;
    padding: 4px 8px;
    /* margin-top: 32px;
    margin-bottom: 32px; */
    margin: 32px auto;
    visibility: hidden;
}

form {
    /* background-color: blue; */
    gap: 16px;
    box-sizing: border-box;
    width: 80%;
    margin: 0px auto;
}

input {
    padding: 2px 4px;
    margin-bottom: 4px;
}

form input {
    box-sizing: border-box;
    width: 100%;
    margin-top: 8px;
    margin-bottom: 8px;
}

form div {
    font-size: 0.7em;
    text-align: center;
}

form button {
    color: #000000;
    background-color: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 6px;
    padding: 4px 8px;
    /* margin-top: 8px; */
    margin: 8px auto;
}

input[name="name"] {
    visibility: hidden;
}

input[name="passwd2"] {
    display: none;
}