* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    background-color: #C2C2C2;
    overflow: hidden;
}

.center {
    position: relative;
    box-sizing: border-box;
    height: 100vh;
    width: 704px;
    margin: 0px auto;
}

.mainheader, footer {
    box-sizing: border-box;
    font-size: 0.7em;
    background-color: #C2C2C2;
    height: 24px;
    padding-right: 1px;
}

.mainheader {
    text-align: right;
    line-height: 27px;
}

main {
    box-sizing: border-box;
    background-color: #FFFFFF;
    display: block;
    height: 100%;
    border: 1px solid #6A6A6A;
    padding-bottom: 24px;
    margin: 0px;
}

footer {
    position: absolute;
    color: #616161;
    text-align: center;
    line-height: 23px;
    left: 0px;
    bottom: 0px;
    width: 100%;
    border-top: 1px solid #6A6A6A;
}

.subheader {
    position: relative;
    box-sizing: border-box;
    line-height: 32px;
    height: 32px;
    border-bottom: 1px solid #000000;
    padding: 1px 16px 0px;
}

nav {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 32px;
    width: 100%;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 6px;
    z-index: 90;
}

.title {
    position: absolute;
    text-align: center;
    line-height: 32px;
    top: 0px;
    left: 0px;
    width: 100%;
    padding-top: 2px;
    z-index: 10;
}

section {
    position: absolute;
    display: inline-block;
    /* background-color: red; */
    box-sizing: border-box;
    top: 24px;
    bottom: 24px;
    width: 352px;
}

.section_content {
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100%;
}

.content_holder {
    /* background-color: red; */
    position: relative;
    box-sizing: border-box;
    flex-grow: 10;
    height: 100%;
    margin-right: 2px;
}

.content {
    position: absolute;
    box-sizing: border-box;
    display: block;
    /* background-color: #EEEEEE; */
    /* box-sizing: border-box; */
    top: 0px;
    bottom: 0px;
    width: 350px;
    overflow: auto;
    /* padding: 12px 16px; */
    padding: 8px 0px 8px 16px;
}

.mainheader button {
    color: #0040DD;
    background-color: #C2C2C2;
    border: none;
    padding-right: 2px;
    margin: 0px;
}

.subheader button {
    /* flex-shrink: 0; */
    color: #0040DD;
    /* background-color: none; */
    background-color: #FFFFFF;
    /* height: 32px; */
    border: none;
    /* padding: 2px 16px; */
    /* margin: 0px 8px; */
}

/* old */
/* .groups {
    justify-content: flex-start;
    background-color: #F6F6F6;
}

.edit_contacts {
    position: relative;
    display: none;
    height: 32px;
    margin-top: -8px;
    margin-bottom: 8px;
} */


/* nav button {
    color: #0040DD;
    background-color: #FFFFFF;
    border: none;
    margin: 0px 16px;
} */

/* button.small_right {
    margin: 0px 4px 0px 16px;
} */
/* old */

.edit_contacts {
    display: none;
}

.mainheader span {
    margin-left: 6px;
    margin-right: 6px;
}

h1 {
    /* background-color: red; */
    font-family: 'EB Garamond', serif;
    color: #C2C2C2;
    font-size: 2.4em;
    text-align: center;
    font-weight: 600;
    width: 80%;
    padding: 4px 8px;
    margin: 0px auto;
}

button, .hover {
    cursor: pointer;
    margin-bottom: 4px;
}

a:link, a:visited, a:active {
    color: #000000;
    text-decoration: none;
}
  
a:hover {
    color: #0040DD;
    text-decoration: underline;
}

input {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    margin-right: 16px;
}

select {
    outline: none;
}

.group_select {
    margin-bottom: 8px;
}

form select {
    color: #646464;
    width: 80px;
}

div.textarea {
    box-sizing: border-box;
    width: 100%;
    padding-right: 16px;
    margin-top: 8px;
    margin-bottom: 8px;
}

textarea {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    width: 100%;
    padding: 4px 8px;
}

ul {
	list-style-type: disc;
	margin-left: 24px;
}

li {
	margin-top: 8px;
	margin-bottom: 8px;
}

.state, .zip {
    width: 72px;
}

.cont_disp_container {
    padding-right: 16px;
}

.cont_sect, .cont_sect_edit {
    color: #646464;
    font-size: 0.8em;
    margin-top: 12px;
    margin-bottom: -6px;
}

.cont_sect {
    border-top: 1px solid #CCCCCC;
    padding-top: 8px;
    padding-left: 62px;
}

.cont_sect_edit {
    color: #1F1F1F;
    font-weight: 600;
    border-top: 1px solid #000000;
    padding-top: 8px;
    padding-left: 90px;
    margin-right: 16px;
}

#p_sect, #e_sect, #a_sect {
}

.type, .type_edit {
    color: #646464;
    font-size: 0.8em;
    text-align: right;
}

.type {
    color: #646464;
    font-size: 0.8em;
    text-align: right;
    width: 50px;
}

.type_edit {
    width: 80px;
}

.data {
    flex-grow: 4;
}

.contact_name {
    font-size: 1.2em;
    font-weight: 600;
    text-align: center;
}

div.cont_details {
    /* background-color: blue; */
    display: flex;
    align-items: baseline;
    gap: 0.6em;
    padding: 0px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.note {
    border-top: 1px solid #CCCCCC;
    padding-top: 8px;
    margin-top: 8px;
}

div.login_view {
    box-sizing: border-box;
    /* background-color: blue; */
    width: 300px;
    padding: 36px 16px;
    margin: 36px auto 0px;
}

p.login {
    color: #CCCCCC;
}

p.login a:link, p.login a:visited, p.login a:active {
    color: #CCCCCC;
    text-decoration: none;
}
  
p.login a:hover {
    color: #EAEAEA;
    text-decoration: underline;
    cursor: pointer;
}

form {
    /* background-color: blue; */
    gap: 16px;
    box-sizing: border-box;
    width: 80%;
    margin: 0px auto;
}

input {
    padding: 2px 4px;
    margin-bottom: 4px;
}

form input {
    box-sizing: border-box;
    width: 100%;
    margin-top: 8px;
    margin-bottom: 8px;
}

div.login_view input {
    color: #E9E9E9;
    background-color: #252525;
    border: 1px solid #5D5D5D;
    padding: 4px 8px;
}

div.login_view input::placeholder {
    color: #B8B8B8;
}

input[type=checkbox] {
    position: relative;
    top: -1px;
    width: 14px;
    height: 14px;
    padding: 0;
    margin: 0px;
    margin-right: 4px;
    vertical-align: bottom;
  }

form div {
    font-size: 0.7em;
    text-align: center;
}

form button {
    color: #000000;
    background-color: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 6px;
    padding: 4px 8px;
    margin: 8px;
}

div.login_view button {
    color: #DBDBDB;
    background-color: #252525;
    border: 1px solid #5D5D5D;
    padding: 8px 16px;
}

form p {
    margin-top: 4px;
}

input[name="name"] {
    visibility: hidden;
}

input[name="passwd2"] {
    display: none;
}

#new_group_view {
    position: absolute;
    box-sizing: border-box;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: #878787;
    padding-top: 10vh;
    z-index: 50;
    overflow: hidden;
    /* opacity: 0.6; */
}

.new_group {
    /* opacity: 1.0; */
    box-sizing: border-box;
    width: 300px;
    background-color: #FFFFFF;
    border: 1px solid #000000;
    padding: 36px;
    margin: 36px auto 0px;
}

.new_group p {
    margin-bottom: 6px;
}

#login_view {
    background-image: url("background.png");
    background-repeat: repeat;
    width: 704px;
}

#contacts_view {
    border-right: 1px solid #000000;
}

#contact_view {
    left: 352px;
}

#login_view {
    /* display: none; */
}

#contacts_view, #contact_view {
    display: none;
    /* display: block; */
}

@media (max-width: 770px) {
    .center, #login_view {
        width: 352px;
    }
    #contacts_view {
        border-right: none;
    }
    #contact_view {
        display: none;
        left: 0px;
    }
}